# === Python / Django backend ===
*.pyc
__pycache__/
db.sqlite3
.env/
*.env
*.log
*.pot
*.py[cod]
*.sqlite3
*.sqlite3-journal
.DS_Store
*.migrations/
*.egg-info/
.venv/

# PyCharm
.idea/

# === NodeJS / Tailwind frontend ===
node_modules/
dist/
build/
.cache/
.npm/
.yarn/
*.log

# WebStorm
frontend/.idea/

